<h1>Startup Sprint!</h1>
<img src="images/learnco.jpg">

<h3>Subscribe to the Startup Sprint newsletter</h3>
<% if @error == 'email' %>
  <p style="color: red;">Please enter a valid email</p>
<% end %>
<form method=POST action="/subscribe">
  <label for="full-name">Full Name</label>
  <input type="text" id="full-name" name="full_name" required>
  <label for="email">Email</label>
  <input type="text" id="email" name="email" required>
  <input type="Submit">
</form>
