<div>
  <div class="column">
    <h3>Today</h3>
    <ol>
      <% @today.each do |item| %>
        <li><%= item.first %>: <%= item.last %></li>
      <% end %>
    </ol>
  </div>
  <div class="column">
    <h3>Tomorrow</h3>
    <ol>
      <% @tomorrow.each do |item| %>
        <li><%= item.first %>: <%= item.last %></li>
      <% end %>
    </ol>
  </div>
</div>
