<h1>Team</h1>
<div class="row">
  <div class="column">
    <h3>Koko</h3>
    <img src="https://imgur.com/mS9A9Ex" alt="logo">
  </div>
  <div class="column">
    <h3>Taysa</h3>
    <img src="https://i.imgur.com/ZbG3qCY.jpg" alt="Taysa Team profile photo">
  </div>
  <div class="column">
    <h3>Colin</h3>
    <img src="https://i.imgur.com/Eqycl8w.jpg" alt="logo">
  </div>
</div>