.column {
  float: left;
  width: 50%;
}

.row:after{
  content: " ";
  display: table;
  clear: both;
}

:blank {
  border-color: blue;
}

:valid {
  border-color: blue;
}
:invalid {
  border-color: red;
}
